.cabecalho__menu-hamburger{
    width: 24px;
    height: 24px;
    background-image: url(/Imagens/Menu.svg);
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
}

.cabecalho{
    background-color: var(--Branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container{
    display: flex;
    align-items: center;
}

.container__imagem{
    padding: 1em;
}

.lista__menu{
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}

.container__botao:checked~.lista__menu{
    display: block;
}

.lista__menu__titulo{
    padding: 1em;
    background-color: var(--Branco);
    color: var(--Laranja);
    font-weight: 700;
}

.lista__menu__item{
    padding: 1em;
    background-color: var(--Branco);
}

.lista__menu__link{
    background: var(--Azul-Gradiente);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
    text-decoration: none;
}

.container__botao{
    display: none;
}

.container__titulo{
    display: none;
}
.opcoes{
    display: none;
}

.container__texto{
    display: none;
}

.container__botao:checked~.container__rotulo>.cabecalho__menu-hamburger{
    background-image: url(/Imagens/Menu\ Aberto.svg);
}

.container__botao:checked~.container__rotulo{
    background: var(--Azul-Gradiente);
}

@media screen and (min-width:1024px) {
    .container__titulo,.container__titulo--negrito{
        font-family: var(--Fonte-Secundaria);
        font-size: 30px;
    }

    .container__titulo{
        font-weight: 400;
        display: block;
    }

    .container__titulo--negrito{
        font-weight: 700;
    }

    .opcoes{
        display: flex;
    }
    
    .opcoes__item{
        padding: 0 1em;
        text-transform: uppercase;
    }

    .opcoes__link{
        text-decoration: none;
        color: var(--Preto);

    }

    .container__imagem-transparente{
        display: none;
    }

    .cabecalho__menu-hamburger{
        display: none;
    }

    .opcoes__botao:checked~.lista__menu{
        display: block;
        width: auto;
    }

    .opcoes__botao{
        display: none;
    }

    .opcoes__botao:checked~.opcoes__rotulo>.opcoes__item{
        background: var(--Azul-Gradiente);
        color: var(--Branco);
    }

    .opcoes__item{
        padding: 2em 1em;
    }

    .lista__menu__item:hover{
        background: var(--Azul-Gradiente);
    }

    .lista__menu__item:hover>.lista__menu__link{
        -webkit-text-fill-color: var(--Branco);
        text-decoration: none;
    }

}


@media screen and (min-width:1280px) {
    .container__link{
        display: flex;
        align-items: center;
        text-decoration: none;
        color: var(--Preto);
    }

    .cabecalho{
        padding: 0 2em;
    }

    .opcoes {
        margin-right: auto;
    }

    .container__texto{
        display: block;
    }
}